<form>
  <div class="form-group">
    <label for="isbnInput">ISBN</label>
    <input type="text" class="form-control" id="isbnInput" />
  </div>

  <div class="form-group">
    <label for="titleInput">Titel</label>
    <input type="text" class="form-control" id="titleInput" />
  </div>

  <div class="form-group">
    <label for="descInput">Beschreibung</label>
    <textarea class="form-control" id="descInput"></textarea>
  </div>

  <div class="form-group">
    <label for="priceInput">Preis</label>
    <input type="number" class="form-control" id="priceInput" />
  </div>

  <div class="form-group">
    <label for="ratingInput">Bewertung</label>
    <input type="number" class="form-control" id="ratingInput" />
  </div>

  <button type="submit" class="btn btn-green">Abschicken</button>
</form>
